# Godot 4+ specific ignores
.godot/
/android/
.github
addons
.vscode

# Ignore changes to theme files (use git update-index --assume-unchanged "assets/sprites/ui/*.tres")
# assets/sprites/ui/*.tres

*.tres -diff